# Rust
target/
debug/
Cargo.lock

# Rustfmt backups
**/*.rs.bk

# Windows debug
*.pdb

# C++ binaries
example
*.o
*.out
*.exe

# Example-specific
examples/incompatible_allocators/rust/target/

# macOS
.DS_Store